Repository JumpToTheCloud/aws-organizations: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, yarn eslint, ~~ Generated by projen. To modify, edit .projenrc.ts and run "npx projen".

chore: self mutation
  API.md
Due: prettier --check

test(organizations): add organization unit metho test
  .husky/h
  .husky/pre-commit
  .nvmrc
  .projen/deps.json
  .projenrc.ts
  package.json
  test/organization.test.ts
  yarn.lock
Due: prettier --check, yarn eslint

feat(organization)!: add organization unit method (#18)
  .husky/h
  .husky/pre-commit
  .nvmrc
  .projen/deps.json
  .projenrc.ts
  API.md
  package.json
  src/organization-unit.ts
  src/organization.ts
  test/organization.test.ts
  yarn.lock
Due: prettier --check, yarn eslint

chore(projen): update upgrade workflow schedule to run weekly on Mondays
  .github/workflows/upgrade-main.yml
  .projenrc.ts
Due: prettier --check, yarn eslint

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --check: (any of: *.ts) or (any of: *.md)
  yarn eslint: any of: *.ts
  ~~ Generated by projen. To modify, edit .projenrc.ts and run "npx projen".: any of: //
